.add_to_cart{
    width: 300px;
    height: 100px;
    background-color: green;
    border-radius: 5%;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    align-items: center;
}
.add_to_cart h1{
    font-size: 100%;
    color: black;
    margin-top: 0;
    padding-bottom: 0;

}